.home-main{
    padding-top: 2rem;
}

.home-img{
    height: 30rem;
    width: 100%;
    /* border-left: 2px solid black;
    border-right: 2px solid black; */
} 

.course-contaier h3:first-child{
    font-weight: bolder;
    color: rgb(69,57,248);
    font-size: 1.5rem;
    text-align: center;
}

.course-head{
    padding-top: 2rem;
    text-align: center;
}

.course-details{
    padding: 2rem 10rem 0 10rem;
}


.course-details p{
    font-size: 1.3rem;
}

.cards{
    display: flex;
    padding: 2rem;
    gap: 2rem;
}

.course-element{
    height: 15rem;
    width: 90rem;
    display: flex;
    margin: 3rem;
    padding: 3.5rem;
    justify-content: space-around;
    border: 0.1px solid rgb(123, 114, 245);
    border-radius: 20px;
}

.course-ele-png1{
    height: 6rem;
    width: 6rem;
    background-image: url("/public/html-5.png");
    background-size: cover;

}
.course-ele-png2{
    height: 6rem;
    width: 6rem;
    background-image: url("/public/css-3.png");
    background-size: cover;

}
.course-ele-png3{
    height: 6rem;
    width: 4.5rem;
    background-image: url("/public/kisspng-javascript-computer-icons-software-developer-casca-javascript-logo-5b4ca5d6340fb2.9494659815317498462133.png");
    background-size: cover;

}
.course-ele-png4{
    height: 7rem;
    width: 15rem;
    background-image: url("/public/kisspng-react-logo-redux-webpack-babel--5b7b7258694912.5465440215348168564313.png");
    background-size: cover;

}
.course-ele-png5{
    height: 7rem;
    width: 8rem;
    background-image: url("/public/kisspng-node-js-javascript-express-js-mongodb-github-node-js-5b224f661810b1.8226577315289752060986.png");
    background-size: cover;

}
.course-ele-png6{
    height: 7rem;
    width: 8rem;
    background-image: url("/public/kisspng-web-development-express-js-javascript-software-fra-frame-work-5b15153d24d3f6.9133133015281083491509.png");
    background-size: cover;

}
.course-ele-png7{
    height: 6rem;
    width: 7rem;
    background-image: url("/public/kisspng-mongodb-database-nosql-postgresql-mongo-5b39f9e36b1814.0344731115305261794387.png");
    background-size: cover;

}

/* footer css  */
.footer{
    height: 25rem;
    background-color: rgb(45, 42, 42);
    color: white;
    display: grid;
    grid-template-columns: 30rem 2fr 1fr 2fr 30rem;
    grid-template-rows: 20rem 5rem;
    
}

.footer-logo{
    grid-column: 1/2;
    font-size: 1.   ;
    padding-top: 8rem;
    padding-left: 12rem;
}

.footer-icon{
    grid-column: 3/4;
    padding-top: 8rem;
    font-size: 6rem;
}


.footer-address{
    grid-column: 5/6;
    font-size: 1rem;
    padding-top: 2.5rem;
}



.footer-copyright{
    height: 5rem;
    background-color: black;
    grid-row: 2/3;
    grid-column: -6/-1;
    color: white;
}

.footer-copyright p{
    text-align: center;
    font-size: 1rem;
    position: relative;
    top: 1.5rem;
}

.enqBtn{
    position: relative;
    left: 42rem;
    border-radius: 9px;
    font-weight: bold;
    color: black;
}

.enqBtn:hover{
    background-color: white;
    color: #9791f3;

}

